
modules = ["nodejs-20", "web"]
run = "bun run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "bun run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 46929413
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"
